body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}
header{
    font-weight: 600;
}
#break{
    height: 3px;
    background-color: #000;
    border-radius: 50px;
    border: 1px solid #000;
    margin-top: 0.3rem;
    width: 100%;
}
li{
    padding: 0.1rem 1rem;
    border: 1px solid rgb(77, 77, 77);
    background-color: rgb(77, 77, 77);
    color: white;
    margin: 0.3rem;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    border-radius: 50px;
}